<main class="main">
    <section class="main__section">
        <form class="main__section--form">
            <input type="text" class="main__section--form--input js_descSearch" placeholder="Example: Olu Mel">
            <input type="submit" class="main__section--form--search js_btnSearch" value="Search">
        </form>
    </section>
    <section>
        <div class="main__list"></div>
        <h3 class="main__list--listCharacters--title">Characters ❤︎ </h3>
        <ul class="main__list--listCharacters--list js_listCharacters"></ul>
    </section>
    <section>
    <div class="main__list--listFavourites">
        <h3 class="main__list--listFavourites--title">Favourites ❤</h3>
        <ul class="main__list--listFavourites--List js_listFavourites"></ul>
    </div>
    </section>


  