<main class="main">
    <section class="main__section">
        <form class="main__section--form">
            <input type="text" id="input" placeholder="Example: Olu Mel" class="main__section--form--input">
            <input type="submit" value="Search" class="main__section--form--search">
        </form>
    </section>
    <div class="main__list">
        <h3 class="main__list--listCharacters--title">Characters ❤</h3>
        <ul class="main__list--listCharacters--list"></ul>
    </div>
    <div class="main__list--listFavourites">
        <h3 class="main__list--listFavourites--title">Favourites</h3>
        <ul class="main__list--listFavourites--List"></ul>
    </div>



</main>