.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 9vh;
    position: fixed;
    width: 100%;
    bottom: 0;

    &__paragraph {
    color: white;
    text-align: center; 
   
}
}