.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    &--form {
      margin-bottom: 40px;

      &--input {
        width: 450px;
        height: 30px;
        margin-top: 20px;
      }
      &--search {
        width: 100px;
        cursor: pointer;
        height: 30px;
        color: white;
        background-color: rgb(40, 40, 200);
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

    &--listCharacters {
      width: 50vw;
      display: flex;
      flex-direction: column;
      &--title {
        color: rgb(4, 4, 105);
        margin-bottom: 50px;
      }
      &--list {
        list-style: none;
        display: flex;
        flex-wrap: wrap; /*para que aparezcan varios personajes en una misma línea*/
        gap: 30px;
        border: solid blue 1px;
        background-color: rgb(240, 233, 219);
        
        
      }
    }
    &--listFavourites {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      /*width: 50vw;*/
      &--title {
        color: rgb(4, 4, 105);
        margin-bottom: 50px;
      }
      &--list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid blue 1px;
       
        
      }
    }
  }
  .characters-div {
    background-color: rgb(241, 152, 35);
    padding: 2px;
    
  }
  .imgCharacters {
    height: 150px;
  }
}
